html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex ;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid gray;
  background: white;
  
}
.title{
  width: 100%;
  text-align: center;
  font-size: 34px;
  font-weight: 800;
  font-family: 'Alegreya', serif;
}
.board{
  display: flex;
  gap:5px;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}
.tile{
  border: 1px black solid;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
}
.line{
  display: flex;
  gap: 5px;
}

.correct{
  background-color: #6aaa64;
  transition: all 0.5s ease;
}
.close{
  background-color: #c9b458;
  transition: all 0.5s ease;
}
.incorrect{
  background-color: #939598;
  transition: all 0.5s ease;
}

.refresh{
  position: relative;
  left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  padding: 5px 20px;
  cursor: pointer;
  background-color: #c9b458;
  border: 1px solid black;
  font-family: 'Alegreya',
    serif;
    transition: all 0.25s ease-in-out;
}

.refresh:hover{
  background-color: #6aaa64;
  color: white;
  transition: all 0.25s ease-in-out;
}

.footer{
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #6aaa64;
  gap: 25px;
}
.icon{
  height: 30px;
  width: 30px;
  color: white;
  cursor: pointer;
}

.iconpdf{
  height: 27px;
  width: 27px;
  cursor: pointer;
  color: white;
}

.icon:hover{
  transform: translateY(-2px);
  ;
}
.iconpdf:hover{
  transform: translateY(-2px);
  ;
}

.keypad{
  min-width: 380px;
  max-width: 480px;
  margin: 20px auto;
}


.keypad > div{
  margin: 5px;
  width: 35px;
  height: 42px;
  background: lightgray;
  border-radius: 6px;
  line-height: 50px;
  display: inline-block;
}

.keypad-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
